@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@300;400;600&family=Ysabeau+SC:wght@200&display=swap");
/*--------------RESET----------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Ysabeau Infant', sans-serif; }

/* h1{
    font-size: map-get($fonts-size , extra-large );
} */
/* color */
/*HEADER INICIO*/
header {
  background-color: #3a4783;
  padding: 25px 10px 25px 10px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1; }
  header h1 {
    color: white;
    font-size: 50px;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 900; }
    header h1 span {
      color: #458081; }
  header nav ul {
    list-style: none;
    display: flex; }
    header nav ul li {
      margin: 5px; }
      header nav ul li a {
        text-decoration: none;
        color: white; }
        header nav ul li a:hover {
          background-color: #458081;
          border-radius: 5px; }

.abrir-menu {
  display: none; }

/*HEADERNOSOTROS*/
.heronosotros {
  background-color: #4580812d; }
  .heronosotros h2 {
    text-align: center;
    font-size: 45px;
    color: #458081;
    padding: 40px; }
  .heronosotros p {
    font-size: 20px;
    padding: 20px;
    margin: 10px; }

/*HEADERSERVICIOS*/
.mudarte {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #458081; }
  .mudarte h2 {
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 40px; }
  .mudarte div img {
    height: 80px;
    width: 80px; }
  .mudarte div div h3 {
    font-size: 20px;
    text-align: center;
    color: white; }

/*HEADERNOSCONTACTO*/
.mensaje h2 {
  text-align: center;
  padding: 30px;
  font-size: 30px; }

.form {
  display: flex;
  justify-content: center;
  padding: 20px; }

.mapa {
  display: flex;
  justify-content: center;
  padding: 20px; }

.hero {
  width: 100%;
  height: calc(100vh - 160px);
  background-image: url(../img/mujer.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #458081;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero h2 {
    display: inline-block;
    font-size: 70px;
    border: 5px white solid;
    padding: 15px; }
  .hero p {
    font-size: 30px;
    margin-bottom: 20px; }
  .hero a {
    text-decoration: none;
    color: white;
    background-color: dimgray;
    padding: 10px;
    border-radius: 10px; }

.subtitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px; }
  .subtitulo div {
    /*     width: 50%; */ }
    .subtitulo div h2 {
      font-size: 40px;
      text-align: center;
      color: #458081; }
    .subtitulo div p {
      font-size: 20px;
      padding: 40px;
      text-align: center; }
  .subtitulo img {
    width: 500px;
    height: 500px; }

/*falta corregir*/
.servicios h2 {
  background-color: #3a4783;
  color: white;
  text-align: center;
  padding: 10px; }

.servicios .card-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .servicios .card-flex div {
    width: 250px;
    height: 350px;
    text-align: center;
    background-color: #458081;
    color: white;
    margin: 30px;
    -webkit-box-shadow: 4px 39px 146px -3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 4px 39px 146px -3px rgba(0, 0, 0, 0.7);
    box-shadow: 4px 39px 146px -3px rgba(0, 0, 0, 0.7); }
  .servicios .card-flex h3 {
    margin-bottom: 25px; }
  .servicios .card-flex img {
    width: 250px;
    height: 200px; }

.serviciosadicionales {
  background-color: #3a4783;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 60px; }
  .serviciosadicionales h3 {
    display: grid;
    place-items: center; }

.mediosdepago {
  color: white;
  display: flex;
  justify-content: center;
  padding: 60px; }
  .mediosdepago h3 {
    color: #458081;
    display: grid;
    place-items: center; }
  .mediosdepago img {
    width: 80px;
    height: 80px;
    margin: 30px;
    -webkit-box-shadow: 4px 39px 146px -3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 4px 39px 146px -3px rgba(0, 0, 0, 0.7);
    box-shadow: 4px 39px 146px -3px rgba(0, 0, 0, 0.7); }
  .mediosdepago h4 {
    text-align: center;
    color: #458081;
    font-size: 20px; }

.position {
  position: fixed;
  bottom: 100px;
  right: 50px; }
  .position img {
    width: 50px; }

.fin h2 {
  font-size: 25px;
  background-color: #458081;
  text-align: center;
  padding: 10px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.redessociales h3 {
  font-size: 30px;
  color: #7c1554; }

.redessociales div a {
  margin: 5px; }

/*SERVICIOS*/
.nuestrosservicios h2 {
  font-size: 25px; }

.nuestrosservicios h3 {
  font-size: 40px;
  color: #458081; }

.nuestrosservicios div img {
  width: 350px;
  height: 300px; }

.nuestrosservicios div h4 {
  font-size: 20px; }

/*NOSOTROS*/
.grid-galeria {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  gap: 10px; }
  .grid-galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.grid-item {
  -webkit-box-shadow: 4px 39px 146px -3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 4px 39px 146px -3px rgba(0, 0, 0, 0.7);
  box-shadow: 4px 39px 146px -3px rgba(0, 0, 0, 0.7);
  position: relative; }
  .grid-item h3 {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(55, 0, 255, 0.342);
    width: 100%;
    text-align: center; }
  .grid-item .img-4 {
    grid-column: span 2; }
  .grid-item .img-6 {
    grid-row: span 2; }
  .grid-item .img-8 {
    grid-row: span 2; }

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  background-color: #3a4783; }
  footer h3 {
    font-size: 30px;
    color: #96075f;
    padding-bottom: 15px;
    text-align: center; }
  footer div a img {
    width: 50px;
    height: 50px; }

@media screen and (max-width: 950px) {
  /*HEADER IMAGEN*/
  .subtitulo {
    flex-direction: column; }
  .subtitulo {
    width: 80%;
    text-align: center;
    margin: 20px; }
  .subtitulo img {
    width: 80%;
    height: 400px;
    margin: 20px; } }

@media screen and (max-width: 720px) {
  .hero h2 {
    font-size: 30px; }
  .hero p {
    font-size: 25px; }
  .serviciosadicionales {
    flex-direction: column;
    text-align: center; } }

@media screen and (max-width: 640px) {
  /*PARA TABLET*/
  header {
    position: static; }
  .position {
    display: none; } }

@media screen and (max-width: 550px) {
  .abrir-menu {
    display: block;
    display: none; }
  .nav {
    display: none; }
  .nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #458081;
    padding: 20px; }
  .nav-list {
    flex-direction: column;
    align-items: end; } }

@media screen and (max-width: 515px) {
  /*PARA MOBILE*/
  header {
    flex-direction: column; } }

@media screen and (max-width: 490px) {
  .mediosdepago {
    flex-direction: column;
    text-align: center; } }

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px; }

/*contanto*/
@media screen and (max-width: 600px) {
  .mapa {
    align-items: flex-end; } }
