footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    background-color: hsl(229, 39%, 37%);
}
.redessociales{

    h4{
        font-size: 30px;
        color: map-get($colores , color-terciario );
        padding-bottom: 15px;
        text-align: center;
    }
        div{
        a{
            img{
                width: 50px;
                height: 50px;
            }
        }
    }
}