.hero{
    width: 100%;
    height: calc(100vh - 160px);
    background-image: url(../img/mujer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: map-get($colores , color-primario );
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        display: inline-block;
        font-size: 70px;
        border: 5px white solid;
        padding: 15px;

    }
    p{
        font-size: 30px;
        margin-bottom: 20px;

    }
    a{
        text-decoration: none;
        color: white;
        background-color: dimgray;
        padding: 10px;
        border-radius: 10px;

    }
}

.subtitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px;

div{
/*     width: 50%; */
    h2{
        font-size: 40px;
        text-align: center;
        color: map-get($colores , color-primario );
    }
    
    p{
        font-size: 20px;
        padding: 40px;
        text-align: center;
        width: 100%;
    }
}


img{
    width: 500px;
    height: 500px;
}
}
/*falta corregir*/

.servicios{

h2{
background-color: hsl(229, 39%, 37%);
color: white;
text-align: center;
padding: 10px;
}
}



.servicios .card-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

div{
    width: 250px;
    height: 350px; 
    text-align: center;
    background-color: map-get($colores , color-primario );
    color: white;
    margin: 30px;
    -webkit-box-shadow: 4px 39px 146px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: 4px 39px 146px -3px rgba(0,0,0,0.7);
    box-shadow: 4px 39px 146px -3px rgba(0,0,0,0.7);
}

h3{
    margin-bottom: 25px;
}

img{
    width: 250px;
    height: 200px;
}
}


.serviciosadicionales{
    background-color: hsl(229, 39%, 37%);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 60px;

h3{
    display: grid;
    place-items: center;
}
}

.mediosdepago{
    color: white;
    display: flex;
    justify-content:center;
    padding: 60px;

h3{
    color: map-get($colores , color-primario );
    display: grid;
    place-items: center;
}

img{
    width: 80px;
    height: 80px;
    margin: 30px;
    -webkit-box-shadow: 4px 39px 146px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: 4px 39px 146px -3px rgba(0,0,0,0.7);
    box-shadow: 4px 39px 146px -3px rgba(0,0,0,0.7);
}

h4{
    text-align: center;
    color: map-get($colores , color-primario );
    font-size: 20px;
}
}

.position{
    position: fixed;
    bottom: 100px;
    right: 50px;

img{
    width: 50px;
}
}

.fin{

h3{
    font-size: 20px;
    background-color: map-get($colores , color-primario );
    text-align: center;
    padding: 10px;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
}

.redessociales{

h3{
    font-size: 30px;
    color: #7c1554;
}
div{

a{
    margin: 5px;
}
}
}

/*SERVICIOS*/
.nuestrosservicios{

h3{
    font-size: 25px;
    padding: 20px;
    text-align: center;
}
h4{
    font-size: 40px;
    color: map-get($colores , color-primario );
    padding:10px;
    text-align: center;
}

div{
    p{
        @extend .parrafo;
    }
    div{
    display: flex;
    justify-content: center;
    gap: 40px;
    img{
        width: 400px;
        height: 350px;
    }
}
}
}


/*NOSOTROS*/
.grid-galeria{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 250px;
    gap: 10px;

    div{
        img{
            width: 100%;
            height: 100%; 
            object-fit: cover;
        }
    }
}

.grid-item{
    -webkit-box-shadow: 4px 39px 146px -3px rgba(0,0,0,0.7);
-moz-box-shadow: 4px 39px 146px -3px rgba(0,0,0,0.7);
box-shadow: 4px 39px 146px -3px rgba(0,0,0,0.7);
    position: relative;

h3{
    position: absolute;
    bottom: 0;
    color: white;
    background-color:rgba(55, 0, 255, 0.342);
    width: 100%;
    text-align: center;
}

}
.img-4{
    grid-column: span 2;
}

.img-6{
    grid-row: span 2;
}

.img-8{
    grid-row: span 2;
}

/*HEADERSERVICIOS*/
.mudarte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: map-get($colores , color-primario );
    .servicios-contenedor{
        display: flex;
        gap: 50px;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:15px;
        }

    }
h2{
    text-align: center;
    font-size: 30px;
    color: white;
    padding:40px;
}
div{
    img{
    height: 80px;
    width: 80px;
}
div{
h3{
    font-size: 20px;
    text-align: center;
    color:white;
}
}
}
}

/* CONTACTO */
.mensaje{
    h2{
        text-align: center;
        padding: 30px;
        font-size: 30px;
    }
}
.plataforma{
    display: flex;
    align-items: center;
    justify-content: center;
    form{
        display: flex;
        flex-direction: column;
        padding: 20px;
        div{
            display: flex;
            flex-direction: column;
            gap: 10px;
            input[type="text"]{
                border: none;
                border-bottom: black solid 1px;
                
            }
            input{
                @include input();
                }
            }
        }
    }
    .mapa {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

