
@media screen and (max-width:950px){     /*HEADER IMAGEN*/
    .subtitulo{
        flex-direction: column;
    }
    
    .subtitulo{
        text-align: center;
        margin: 20px;
    }

    .subtitulo img{
        width: 80%;
        height: 400px;
        margin: 20px;
    }
}

@media screen and (max-width:720px){
    .hero h2{
        font-size: 30px; 
    }
    .hero p{
        font-size: 25px;
    }
    .serviciosadicionales{
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width:640px){   /*PARA TABLET*/
    header{
        position: static;
    }
    .position{
        display: none;
    }
}

@media screen and (max-width:550px){
header{
    .abrir-menu{
        display: block;
    
    }
    
    .nav{
        flex-direction: column;
        display: flex;
        align-items: end;
        gap: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #458081;
        padding: 20px;
        height: 100vh;
        z-index: 3;
    
    }
    .ocultar{
        display: none;
        
    }
}
.nav-list{
    flex-direction: column;
    align-items: end;

}
}


@media screen and (max-width:515px){   /*PARA MOBILE*/
    header{
        flex-direction: column;
    }
}

@media screen and (max-width:490px) {
    .mediosdepago {
        flex-direction: column;
        text-align: center;
    }
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}


/*contacto*/
@media screen and (max-width:800px){
    .plataforma{
        flex-direction: column;
        form{
            div{
                input{
                    width: 300px;
                }
            }
        }
    }

}