
$fonts-size: (
    'normal': 16px,
    'large': 20px,
    'extra-large': 24px
);



/* h1{
    font-size: map-get($fonts-size , extra-large );
} */
/* color */
$colores: ( 
    "color-primario": #458081, 
    "color-secundario":#4580812d
)
