
$fonts-size: (
    'normal': 16px,
    'large': 20px,
    'extra-large': 24px
);



/* h1{
    font-size: map-get($fonts-size , extra-large );
} */
/* color */
$colores: ( 
    "color-primario": #458081, 
    "color-secundario":#4580812d,
    "color-terciario": white
);


@mixin input (){
    width: 450px;
    &:focus-visible{
        outline: none;
    }
}

.parrafo{
    font-size: 24px;
    color:#458081;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}